<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link href= "/public/site-gallery-styles.css" rel="stylesheet" type="text/css" />
    <link href= "/public/global-styles.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="/public/gallery-modal.js"></script>
    <title>Norwich Digital Heritage Tours - Site Gallery</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg nav-background">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <span class="material-icons back-arrow"> arrow_back_ios </span>
        </a>
        <a class="navbar-brand norwich-dht" href="/">
          <img
            src="/images/logo.png"
            alt="Logo"
            width="25"
            height="30"
            class="d-inline-block align-text-top"
          />
          Norwich Digital Heritage Tours
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/tours">Tours</a>
            <a class="nav-link active" href="/gallery">Gallery</a>
            <a class="nav-link" href="/map">Map</a>
            <a class="nav-link" href="/more">More</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row title-text">
        <h2>Site gallery</h2>
      </div>
      <div class="row gallery-subtitle">
        <h3>Public Buildings</h3>
      </div>
      <div class="modal fade" id="site-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog .modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Modal title</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img
              id="modal-image"
              src="../images/norwich-castle.jpg"
              class="img-fluid site-image"
              alt="Responsive image"
            />
              <p id="modal-info-text">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <a href="/gallery/1" id="learn-more-link">
              <button type="button" class="btn btn-primary learn-more-btn">Learn more</button>
              </a>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="9" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
            <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-castle.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior of Norwich Castle."
          />
        </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="10" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-guildhall.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior of The Guildhall."
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="11" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-anglia-house.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior of Anglia House."
          />
        </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="12" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/city%20hall.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior of City Hall."
          />
        </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="13" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/the-forum-atrium.jpg"
            class="img-fluid gallery-image"
            alt="An image of the interior of The Forum."
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="14" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/strangers-hall-inside.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior of Strangers' Hall."
          />
        </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="15" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/the-great-hospital-tree.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior of the buildings at The Great Hospital."
          />
        </button>
        </div>
      </div>
      <div class="row gallery-subtitle">
        <h3>Churches</h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="1" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-all-saints-church.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior view of All Saint's Church."
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="2" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-peter-mancroft.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior view of St Peter Mancroft Church."
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="3" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-st-stephens.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior view of St Stephen's Church."
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="4" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-st-andrews.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior view of St Andrew's Church."
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="5" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-st-benedicts.jpg"
            class="img-fluid gallery-image"
            alt="An image of the last existing tower of St Benedict's Church"
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="6" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-st-laurences.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior view of St Laurence's Church"
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="7" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/st%20margarets%20church%20of%20art.jpg"
            class="img-fluid gallery-image"
            alt="An image of the interior view of St Margaret's Church"
          />
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-6 site-gallery-images">
          <button id="8" onclick="showPreview(this.id)" data-bs-toggle="modal" data-bs-target="#site-modal">
          <img
            src="https://storage.googleapis.com/heritage-tourism-store/norwich-st-gregorys.jpg"
            class="img-fluid gallery-image"
            alt="An image of the exterior view of St Gregory's Church"
          />
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
