html, body {
    font-family: 'Lexend', sans-serif;
}
.title-text {
    text-align: center;
    margin-top: 50px;
}
.back-arrow {
    padding-top: 5px;
}
.subtitle-text {
    text-align: center;
    margin-top: 20px;
}
.nav-background {
    background-color: #C3D6A0;
}
ul {
    list-style-type: none;
    margin-top: 10px;
}
.days, .times {
    display: table-cell;
}
.details-subtitle {
    margin-top: 10px;
}
.rating-btn {
    background-color: #C3D6A0;
    color: black;
    border-color: #C3D6A0;
    transition: 0.5s;
}
.rating-btn:hover {
    background-color: #C3D6A0;
    color: black;
    border-color: #C3D6A0;
    opacity: 0.5;

}