html, body {
    font-family: 'Lexend', sans-serif;
}
.title-text {
    text-align: center;
    margin-top: 50px;
}
.back-arrow {
    padding-top: 5px;
}
.subtitle-text {
    text-align: center;
    margin-top: 20px;
}
.nav-background {
    background-color: #C3D6A0;
}