body, html {
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
    font-family: 'Lexend', sans-serif;
}
a, a:hover, a:visited {
    text-decoration: none;
    color: black;
}
.home-subtitle {
    margin-top: 20px;
}
.home-button-title {
    padding-top: 5px;
}
.home-button {
    height: 150px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 5%;
}
.home-columns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-main-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}
.card {
    margin-bottom: 20px;
    transition: 0.5s;
}
.card:hover {
    cursor: pointer;
    opacity: 0.5;
}