.container {
    height: 100vh;
}
.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 200px;
}
.site-image {
    width:100%;
    object-fit: cover;
    max-height:100%;
}
.title-audio-player {
    display: flex;
    flex-direction: row;
}
.site-audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-audio {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.site-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
ul {
    list-style-type: none;
    margin-top: 10px;
}
.days, .times {
    display: table-cell;
}
.details-subtitle {
    margin-top: 10px;
}