.site-gallery-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.gallery-image {
    margin-bottom: 20px;
    transition: 0.5s;
}
.gallery-image:hover {
    opacity: 0.7;
}
.gallery-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
}
a:hover {
    cursor: pointer;
}
.site-gallery-images button {
    border: none;
    background-color: transparent;
}
.learn-more-btn {
    background-color: #C3D6A0;
    color: black;
    border-color: #C3D6A0;
    transition: 0.5s
}
.learn-more-btn:active {
    background-color: #C3D6A0;
    color: black;
    border-color: #C3D6A0;
    transition: 0.5s
}
.learn-more-btn:hover {
    background-color: #C3D6A0;
    color: black;
    border-color: #C3D6A0;
    opacity: 0.7;
}