.container {
    height: 100vh;
}
.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 200px;
}
.site-image {
    width:100%;
    object-fit: cover;
    max-height:100%;
}
.title-audio-player {
    display: flex;
    flex-direction: row;
}
.site-audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-audio {
    width: 70%;
    margin-top: 50px;
}
.site-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}